@import "bower_components/bootstrap/less/bootstrap.less";
@import "listado.less";
@import "menu.less";
@import "detalleItem.less";
body{
	font-family: 'Ubuntu', sans-serif;
	background-color: #E3F2FD;
	margin-bottom: 40px;
}
.page-title{
	font-size: 80px;
    text-align: center;
    font-family: 'Roboto Condensed', serif;
    padding: 20px 0;
}